.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: left;
    margin-left: 2px;
    width: 160px;
    height: 65px;
    padding: 2px;
    font: 12px sans-serif;
    background: #D5E4DF;
    border-style: solid;
    border-width: 1px;
    border-color: Black;
    border-radius:3px;
    pointer-events: none;
}